<div id="ruleManageWindow" class="modal-container">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <form #form="ngForm">
            <div class="mb-3">
                <label for="name" class="form-label">Rule</label>
                <input type="text" class="form-control" id="rule" name="rule" required placeholder="Enter Rule" [(ngModel)]="ruleAndPenalty.rule">
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Rule</label>
                <input type="text" class="form-control" id="penalty" name="penalty" required placeholder="Enter Penalty" [(ngModel)]="ruleAndPenalty.penalty">
            </div>

            <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="saveRuleAndPenalty()">Save</button>
            
        </form>
    </div>
</div>