<div class="header-container">
    <button type="button" (click)="openReasonAddComponent()" class="btn btn-primary mb-2 mt-2 me-3">Add Reason</button>
</div>
<div class="parent">
    <div class="data-table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Amount</th>
                </tr>
            </thead>
            <tbody>
                @for (item of contributionReasons; track item) {
                <tr>
                    <td class="text-center">{{item.name}}</td>
                    <td class="text-center">{{item.amount}}</td>
                </tr>
                }
            </tbody>
            @if (contributionReasons.length == 0) {
            <tfoot>
                <tr class="text-center">
                    <td colspan="2">No contribution reason found!</td>
                </tr>
            </tfoot>
            }
        </table>
    </div>
</div>

<div #reasonManageContainer></div>