<div class="header-container">
    <button type="button" (click)="openRuleAddComponent()" class="btn btn-primary mb-2 mt-2 me-3">Add Rule</button>
</div>
<div class="parent">
    <div class="data-table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th class="text-center">Rule</th>
                    <th class="text-center">Penalty</th>
                </tr>
            </thead>
            <tbody>
                @for (item of rulesAndPenalties; track item) {
                <tr>
                    <td class="text-center">{{item.rule}}</td>
                    <td class="text-center">{{item.penalty}}</td>
                </tr>
                }
            </tbody>
            @if (rulesAndPenalties.length == 0) {
            <tfoot>
                <tr class="text-center">
                    <td colspan="2">No rule found!</td>
                </tr>
            </tfoot>
            }
        </table>
    </div>
</div>

<div #ruleManageContainer></div>