<div class="header-container">
    <div class="icon-container" (click)="openTeamAddComponent()">
        <div class="icon">&#43;</div>
    </div>
</div>
<div class="parent">
    <div class="data-table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Team</th>
                </tr>
            </thead>
            <tbody>
                @for (item of members; track item) {
                <tr>
                    <td class="text-center">{{item.name}}</td>
                    <td class="text-center">{{item.team?.name}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div #memberManageContainer></div>