/* Add application styles & imports to this file! */
.data-table {
    border-radius: 10px;
    font-size: 13px;
    border-collapse: collapse;
    margin: 0 !important;

    thead tr {
        background-color: #F5F5F5;
        height: 50px;
    }

    thead tr th {
        position: sticky;
        top: 0;
        background-color: #F5F5F5;
        padding: 0 5px;
        white-space: nowrap;
        border-top: 2px solid #efefef;
        border-bottom: 2px solid #efefef;
    }

    thead {
        tr:first-child th:first-child {
            border-top-left-radius: 10px;
            border-left: 2px solid #efefef;
        }

        tr:first-child th:last-child {
            border-top-right-radius: 10px;
            border-right: 2px solid #efefef;
        }
    }

    tbody tr {
        height: 40px;
    }

    tbody tr td {
        padding: 8px 5px;
        background-color: #ffffff;
        border-bottom: 2px solid #efefef;
    }

    tbody tr {
        td:first-child {
            border-left: 2px solid #efefef;
        }
        td:last-child {
            border-right: 2px solid #efefef;
        }
    }

    tbody tr:last-child {
        td:first-child {
            border-bottom-left-radius: 10px;
        }
        td:last-child {
            border-bottom-right-radius: 10px;
        }
    }
}