<div class="header-container" >
    <div class="icon-container">
        <div class="icon">&#43;</div>
    </div>
</div>
<div class="data-table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th class="text-center">Member</th>
                <th class="text-center">Rule Broken</th>
                <th class="text-center">Amount</th>
            </tr>
        </thead>
        <tbody>
            @for (item of teams; track item) {
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                }
        </tbody>
    </table>
</div>